* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/3px-tile.png') #2e2e2e;
}

#game__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#board__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 300px;
    height: 800px;
    grid-template-areas: 
    "a4 a0 a8" 
    "a3 a9 a7" 
    "a2 a10 a6"
    "a1 a11 a5"
    ". a12 ."
    ". a13 ."
    "a17 a14 a19"
    "a16 a15 a18";
}

.cell {
    all: unset;
    background-color: #7A6563;
    width: 100%;
    height: 100%;
    outline: 1px solid #f0e6d2;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}

.rosette__icon {
    fill: #E5D4CE;
    width: 100%;
    height: 100%;
}

.player__container {
    background-color: white;
    width: 25vw;
    height: 40vh;
}

#id0 {grid-area: a0;}
#id1 {grid-area: a1;}
#id2 {grid-area: a2;}
#id3 {grid-area: a3;}
#id4 {grid-area: a4;}
#id5 {grid-area: a5;}
#id6 {grid-area: a6;}
#id7 {grid-area: a7;}
#id8 {grid-area: a8;}
#id9 {grid-area: a9;}
#id10 {grid-area: a10;}
#id11 {grid-area: a11;}
#id12 {grid-area: a12;}
#id13 {grid-area: a13;}
#id14 {grid-area: a14;}
#id15 {grid-area: a15;}
#id16 {grid-area: a16;}
#id17 {grid-area: a17;}
#id18 {grid-area: a18;}
#id19 {grid-area: a19;}
